<div class="container">
  <div class="row mt-5">
    <div class="col-md-6 m-auto">
      <section class="text-center p-3 my-3 bg-light rounded border shadow">
        <h1 class="text-danger my-3">{{statusCode}}</h3>
          <p class="text-danger">{{message}}</p>
          <a href="/" class="btn btn-secondary w-100">Back</a>
      </section>
    </div>
  </div>
</div>
