<h1 class="mb-1 restaurant-show-title">餐廳新增頁面</h1>
<div class="container new-edit-view">
  <div class="row">
    <form id="new-edit-form" class="col-12 col-md-10 mx-auto" action="/restaurant/new" method="POST" novalidate>

      {{!-- Form row for both name and rating --}}
      <div class="form-row mb-2">
        <div class="col input-group">
          <div class="input-group-prepend">
            <label class="input-group-text" for="name">
              <i class="fas fa-heading pr-1"></i>
              名稱：
            </label>
          </div>
          <input type="text" name="name" id="name" class="form-control" placeholder="請輸入餐廳名稱，ex: 'Sababa 沙巴巴中東美食'"
            aria-label="name" aria-describedby="addon-wrapping" required>
          <div class="valid-feedback">
            確認無誤
          </div>
          <div class="invalid-feedback">
            請輸入餐廳名稱，不限中文或英文
          </div>
        </div>

        <div class="col input-group">
          <div class="input-group-prepend">
            <label class="input-group-text" for="rating">
              <i class="fas fa-star pr-1"></i>
              評分：
            </label>
          </div>
          <input type="text" name="rating" id="rating" class="form-control" placeholder="請輸入餐廳評分(可不填寫)，級距從0.0 - 5.0，ex: '4.1'"
            aria-label="rating" aria-describedby="addon-wrapping" inputmode="numeric">
          <div class="valid-feedback">
            確認無誤 (可不填寫)
          </div>
        </div>
      </div>

      {{!-- Input group for category --}}
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <label class="input-group-text" for="category">
            <i class="fas fa-utensils pr-2"></i>
            類別：
          </label>
        </div>
        <input list="categories" name="category" id="category" class="form-control"
          placeholder="請輸入餐廳類別，或是選擇下拉選單的預設項目，ex: '中東料理'" required>
        <datalist id="categories">
          <option>日本料理</option>
          <option>義式餐廳</option>
          <option>中東料理</option>
          <option>美式</option>
          <option>咖啡</option>
          <option>酒吧</option>
        </datalist>
        <div class="valid-feedback">
          確認無誤
        </div>
        <div class="invalid-feedback">
          請輸入餐廳類別，不限中文或英文，或是選擇下拉選單的預設項目
        </div>
      </div>

      {{!-- Form row for both location and google_map --}}
      <div class="form-row mb-2">
        <div class="col input-group">
          <div class="input-group-prepend">
            <label class="input-group-text" for="location">
              <i class="fas fa-map-marker-alt pr-2"></i>
              地址：
            </label>
          </div>
          <input type="text" name="location" id="location" class="form-control"
            placeholder="請輸入餐廳地址，ex: '台北市羅斯福路三段 283 巷 17 號'" aria-label="location" aria-describedby="addon-wrapping" required>
          <div class="valid-feedback">
            確認無誤
          </div>
          <div class="invalid-feedback">
            請輸入餐廳地址，不限中文或英文
          </div>
        </div>

        <div class="col input-group">
          <div class="input-group-prepend">
            <label class="input-group-text" for="google-map">
              <i class="fas fa-link pr-1"></i>
              連結：
            </label>
          </div>
          <input type="url" name="google_map" id="google-map" class="form-control"
            placeholder="請輸入餐廳 Google Map URL (可不填寫)，ex: 'https://goo.gl/maps/BJ'" aria-label="google-map"
            aria-describedby="addon-wrapping">
          <div class="valid-feedback">
            確認無誤 (可不填寫)
          </div>
        </div>
      </div>

      {{!-- Input group for phone --}}
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <label class="input-group-text" for="phone">
            <i class="fas fa-mobile-alt pr-2"></i>
            電話：
          </label>
        </div>
        <input type="text" name="phone" id="phone" class="form-control" placeholder="請輸入餐廳聯絡電話，ex: '02 2363 8009'"
          aria-label="phone" aria-describedby="addon-wrapping" required>
        <div class="valid-feedback">
          確認無誤
        </div>
        <div class="invalid-feedback">
          請輸入餐廳連絡電話
        </div>
      </div>

      {{!-- Input group for description --}}
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <label class="input-group-text pr-2" for="description">
            <i class="fas fa-info pl-1 pr-2"></i>
            描述：
          </label>
        </div>
        <textarea name="description" id="description" class="form-control" placeholder="請輸入有關餐廳的描述"
          aria-label="With textarea" required></textarea>
        <div class="valid-feedback">
          確認無誤
        </div>
        <div class="invalid-feedback">
          請輸入有關餐廳的描述，不限中文或英文
        </div>
      </div>

      {{!-- Input group for image --}}
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="image">
            <i class="fas fa-image pr-1"></i>
            圖片：
          </label>
        </div>
        <input type="url" name="image" id="image" class="form-control"
          placeholder="請輸入餐廳圖片URL地址，ex: 'https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5635/01.jpg'"
          aria-label="image" aria-describedby="addon-wrapping" required>
        <div class="input-group-append">
          <button class="btn btn-secondary" type="button" id="preview-load-button">載入預覽</button>
        </div>
        <div class="valid-feedback">
          確認無誤
        </div>
        <div class="invalid-feedback">
          請輸入餐廳圖片URL地址
        </div>
      </div>

      {{!-- Preview --}}
      <h5 id="preview-headline" class="mx-auto text-secondary">圖片預覽 (Preview)</h5>

      <img id="preview-image" class="rounded mx-auto d-block mb-1 w-100" style="max-width: 600px;">

      <div id="preview-progress" class="progress mb-4 mx-auto">
        <div id="preview-progress-bar" class="progress-bar progress-bar-striped progress-bar-animated"
          role="progressbar" style="width: 0%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
      </div>

      {{!-- Both save and back buttons --}}
      <div class="d-flex flex-column flex-sm-row justify-content-center mb-5">
        <button id="save-button" class="btn btn-outline-success py-1 mb-2 mr-2 w-100" type="submit">Save</button>
        <a class="btn btn-outline-info mb-2 mr-2 w-100 " href="/">Back</a>
      </div>
    </form>

  </div>
</div>

<script src="/javascripts/newAndEdit.js"></script>