body {
  min-width: 380px;
}

header {
  position: relative;
  overflow: hidden;
}

.navbar .navbar-brand {
  color: #4592af;
}

.navbar .navbar-brand:hover {
  color: #226089;
}

.banner {
  position: relative;
  z-index: -1;
  margin: -5px;
  height: 360px;
  background: #dddddd center center url('https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5720/restaurants-list-cover.jpg');
  background-size: cover;
  filter: blur(3px);
}

.function-bar .function-bar-outer {
  margin: 0 auto;
  background-color: #fce2cf;
  border-radius: 8px;
  padding: 10px 40px;
  border: 0;
  margin-top: -60px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.search-bar-form h5, .sort-bar-form label {
  color: #9b4b4b;
}

.form-control::placeholder {
  color: #aaaaaa;
  font-size: 0.8rem;
}

.search-bar-form {
  padding: 0 15% 0 0;
}

.sort-bar-form {
  padding: 0 0 0 15%;
}

.btn-major {
  background-color: #9b4b4b;
  color: white;
}

.form-control:focus {
  box-shadow: none;
  border-color: #ced4da;
}

.card {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.card img{
  height: 180px;
}

.card-title{
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

.restaurant-category {
  color: #666666;
  font-size: 0.8rem;
}

.restaurant-show-title {
  position: relative;
  top: -100px;
  color: white;
  text-align: center;
  font-size: 3rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* New And Edit Views Start Here */

.new-edit-view label.input-group-text {
  width: 90px;
}

.new-edit-view #description {
  min-height: 100px;
}

.new-edit-view #preview-headline {
  max-width: 600px;
}

#register-form {
  position: relative;
  top: -150px;
}

/* New And Edit Views End Here */


@media screen and (max-width: 992px) {

  .search-bar-form {
    padding-right: 7.5%;
  }

  .sort-bar-form {
    padding-left: 7.5%;
  }
  
  .card img{
    height: 115px;
  }

}

@media screen and (max-width: 768px) {

  .search-bar-form {
    padding: initial;
  }

  .sort-bar-form {
    padding: initial;
  }
  
  .restaurant-show-title {
    font-size: 2rem;
  }

}

@media screen and (max-width: 575px) {
  
  .card img{
    height: auto;
  }

}
